_site/
.quarto/
.DS_Store
Thumbs.db
*.code-workspace
/.quarto/
**/*.quarto_ipynb

# SCORM output en hulpscripts
scripts/*
!scripts/build_zip.py
releases/

/.luarc.json

# Genegeerde bestanden en mappen
docs/
update-site.bat
README_files/
README.html
